body{font-family:Lora;background:linear-gradient(rgba(47,23,15,.65),rgba(47,23,15,.65)),url(../img/bg.jpg);background-attachment:fixed;background-position:center;background-size:cover}h1,h2,h3,h4,h5,h6{font-family:Raleway}p{line-height:1.75}.text-faded{color:rgba(255,255,255,.3)}.site-heading{margin-top:5rem;
margin-bottom:5rem;text-transform:uppercase;line-height:1;font-family:Raleway}
.site-heading .site-heading-upper{display:block;font-size:2rem;font-weight:800}
.site-heading .site-heading-lower{font-size:5rem;font-weight:100;line-height:4rem}
.page-section{margin-top:5rem;margin-bottom:5rem}
#mainNav{background-color:rgba(47,23,15,.9);font-family:Raleway}#mainNav
.navbar-brand{color:#e6a756}#mainNav
.navbar-nav .nav-item .nav-link{color:rgba(255,255,255,.7);font-weight:800}#mainNav
.navbar-nav .nav-item.active
.nav-link{color:#e6a756}@media (min-width:992px){#mainNav
.nav-link{font-size:.9rem}#mainNav
.nav-link:hover{color:rgba(255,255,255,.4)}#mainNav
.product-item .product-item-description{position:relative;z-index:1;margin-top:-3rem;max-width:50vw}}
.footer{background-color:rgba(47,23,15,.9)}
.text-primary{color:#e6a756!important}
.bg-faded{background-color:rgba(255,255,255,.85)}
@font-face {
    font-family:"Pecita";
    src: url('Pecita.otf');

    font-family:"Capture_it";
    src: url('Capture_it.ttf');
}

.site-heading-upper
{
	font-family: "Pecita";
}
.site-heading
{
    font-family: "Capture_it";
}

li.dropdown {
    display: inline-block;


}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color:#e6a756;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    color:#e6a756;
}
.dropdown:hover .dropdown-content {
    display: block;
}
li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
  color:#e6a756;
}

.dropdown:hover .dropdown-content {
    display: block;
}
